#About{
    background: linear-gradient(#16c062, #00bce0);

}

.about-title{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color:#fff;
    opacity: 0.89;
    text-align: center;
}
.about-title-decoration{
    position: relative;
    width: 85px;
    height: 5px;
    margin: 0 auto;
    border-radius: 4px;
    z-index: 999;
    background: linear-gradient(90deg, rgb(2, 154, 255) 12%, rgba(255,255,255,0) 12%, rgba(255,255,255,0) 20%, rgb(199, 63, 209) 20%, rgba(199,63,209,1) 32%, rgba(255,255,255,0) 32%, rgba(255,255,255,0) 42%, rgba(233,87,36,1) 42%);
}

.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box p{
    text-align: justify;
}
.about-box img{
    width:100%;
    display:block;
    margin:auto;
}